<ion-header>
  <ion-toolbar color="danger">
    <ion-title>{{title}}</ion-title>
    <ion-button slot="end">
      <ion-icon slot="icon-only" size="small" name="power-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-router-outlet></ion-router-outlet>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="popular">
      <ion-icon name="trending-up-outline"></ion-icon>
      <ion-label>Popular</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="toprated">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>Top Rated</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorite">
      <ion-icon name="bookmarks-outline"></ion-icon>
      <ion-label>My Favorites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
